.layui-fluid {
    background: white;
    padding: 15px;
    ccoverflow: hidden
}

/*.layui-fluid:after,.layui-tab-content:after,.layui-tab-item:after,.layui-tab:after {*/
    /*content: '.';*/
    /*display: block;*/
    /*height: 0px;*/
    /*clear: both;*/
    /*visibility: hidden;*/
/*}*/

/*输入框样式*/
.layui-input-sm {
    height: 30px;
    line-height: 30px;
}

.layui-input-lg {
    height: 46px;
    line-height: 46px;
}

/*按钮组默认样式*/
.input-group-addon {
    background: white;
}

/*解决bootstrap的兼容问题*/
.layui-nav-child dd {
    line-height: 36px;
}

a, a:hover {
    text-decoration: none !important;
}

.layui-form .layui-form-label {
    width: 110px;
    padding: 0px 9px 0px 0px;
    text-align: right;
    line-height: 30px;
    height: 30px;
    margin-bottom: 0px;
}

/*表单标签必填*号样式*/
.layui-form .layui-form-label b {
    position: absolute;
    color: red;
}

.layui-form .layui-input-block {
    min-height: 30px;
}

/*样式优化*/
.layui-form-item {
    margin-bottom: 10px;
}

.layui-form-item .layui-inline {
    margin-bottom: 0px;
}

/*弹出框样式*/
.layui-layer-content {
    padding: 10px;
}
.layui-layer-content iframe{
    margin: -10px;
}

/*功能页面内部tab*/
.view_tab {
    margin: 0 -15px;
}

.view_tab .layui-tab-title {
    left: auto;
    height: 30px;
    width: 100%;
}

.view_tab .layui-tab-title li {
    line-height: 30px;
}

.view_tab .layui-tab-title .layui-this:after {
    height: 30px;
}

.view_tab .layui-tab-content {
    overflow-y: visible;
}

/*隐藏datatable 标题栏的全选按钮*/
.disableCheckAll + div input[lay-filter=layTableAllChoose] + div {
    display: none;
}

/*按钮组默认高度*/
.toolbarBtn {
    height: 30px;
}