<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.commonactivity.mapper.ModelCallLogParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.commonactivity.entity.ModelCallLogParam">
        <result column="id" property="id" />
        <result column="foreign_id" property="foreignId" />
        <result column="datas" property="datas" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, foreign_id AS foreignId, datas
    </sql>

</mapper>
