<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.commonactivity.mapper.ModelCallLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ht.commonactivity.entity.ModelCallLog">
        <result column="id" property="id" />
        <result column="business_key" property="businessKey" />
        <result column="process_defined_key" property="processDefinedKey" />
        <result column="version" property="version" />
        <result column="pro_inst_id" property="proInstId" />
        <result column="model_procdef_id" property="modelProcdefId" />
        <result column="sys_code" property="sysCode" />
        <result column="is_end" property="isEnd" />
        <result column="status" property="status" />
        <result column="cre_time" property="creTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, business_key AS businessKey, process_defined_key AS processDefinedKey, version, pro_inst_id AS proInstId, model_procdef_id AS modelProcdefId, sys_code AS sysCode, is_end AS isEnd, status, cre_time AS creTime
    </sql>

</mapper>
