<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>模型管理</title>
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" media="all">
</head>
<body>
<div style="margin: 15px;">
    <input id="proInstId" type="hidden"/>
    <div class="layui-field-box">
        <table id="proc_detail" lay-filter="model"></table>
    </div>
</div>
<script src="/plugins/layui/layui.js"></script>
<script>

    layui.config({
        base: '/src/js/modules/' //假设这是你存放拓展模块的根目录
    }).extend({ //设定模块别名
        myutil: 'common' //如果 mymod.js 是在根目录，也可以不用设定别名
    });

    layui.use(['table', 'ht_ajax', 'ht_auth', 'ht_config'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var bashPath = layui.ht_config.proImg;
        table.render({
            elem: '#proc_detail'
            , url: bashPath + 'processHisAutoIdea?processInstanceId=' + $("#proInstId").val()
            , cellMinWidth: 100 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'taskId', width: 80, title: '任务id', sort: true}
                , {field: 'taskName', width: 100, title: '审批节点'}
                , {field: 'assignee', width: 100, title: '用户', sort: true}
                , {field: 'userName', width: 90, title: '办理用户'}
                , {field: 'blTime', width: 120, title: '办理时间',sort: true}
                , {field: 'comment', title: '审批意见', width: '30%', minWidth: 100} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增

            ]]
        });


    });

</script>
</body>
</html>